html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
	min-width: 320px;
	padding: 0;
  margin: 0;

  font-family: sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  height: 100vh;
  width: 100%;
  padding-top: 4rem;

  background-color: #f6f6f6;
}

.users {
  background-color: white;
  width: 17rem;
  margin: 0 auto;

  -webkit-box-shadow: 0px 0px 13px -5px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 13px -5px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 13px -5px rgba(34, 60, 80, 0.2);
}

.users__list {
  padding: 1rem;
  margin: 0;
}

.users__item {
  display: flex;
  justify-content: space-between;

  margin-bottom: 1.2rem;
  padding-bottom: 0.7rem;

  list-style: none;
  border-bottom: #f1f1f1 1px solid;
}

.users__item:last-child {
  margin-bottom: 0;
  border-bottom: none;
  padding-bottom: 0;
}

.users__item:hover .user__img {
  opacity: 100%;
  filter: contrast(1);
}

.user__img {
  display: flex;
  overflow: hidden;

  width: 2.7rem;
  height: 2.7rem;
  margin: 0;

  border-radius: 50%;
  filter: contrast(0.8);
  opacity: 80%;
  transition: all 0.2s;
}

.user__info {
  width: 75%;
}

.user__name {
  margin: 0 0 0.4rem;
  font-size: 0.7rem;
}

.user__description {
  margin: 0;
  font-size: 0.6rem;
  color:lightgray;
}
