html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
	min-width: 320px;
	padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  height: 100vh;
  width: 100%;
  padding-top: 4rem;

  background-color: #f6f6f6;
}

.users {
  background-color: white;
  min-height: 28rem;
  width: 17rem;
  margin: 0 auto;

  -webkit-box-shadow: 0px 0px 13px -5px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 13px -5px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 13px -5px rgba(34, 60, 80, 0.2);
}
